
@section Style{
    <link href="/css/Authors/authors.css?v=1.1" rel="stylesheet" />
}


<div class="authors-panel">
    <ul>
        <li>
            <a class="nav-item-authors-panel" asp-area="" asp-controller="Authors" asp-action="Read"> See authors </a>
            <a class="nav-item-authors-panel" asp-area="" asp-controller="Authors" asp-action="Create"> Add new author </a>
            <a class="nav-item-authors-panel" asp-area="" asp-controller="Authors" asp-action="SearchById"> Search by Id   </a>
        </li>
    </ul>
</div>