@section Style {
    <link href="/css/library.css?v=1.2" rel="stylesheet" />
}


<div class="panel">
    <ul>
        <li>
            <a class="nav-item-panel" asp-area="" asp-controller="Books" asp-action="CreateBook"> Create book </a>
            <a class="nav-item-panel" asp-area="" asp-controller="Books" asp-action="ReadBooks"> See books </a>
            <a class="nav-item-panel" asp-area="" asp-controller="Books" asp-action="SearchByIdBook"> Search by Id </a>
            <a class="nav-item-panel" asp-area="" asp-controller="Books" asp-action="SearchByISBN"> Search by ISBN </a>
            <a class="nav-item-panel" asp-area="" asp-controller="Books" asp-action="SearchByName"> Search by name </a>
        </li>
    </ul>
</div>