@model Library.Models.Auth.RegisterViewModel


@section Style
{
    <link href="/css/library.css?v=1.5" rel="stylesheet"></link>
}

<h2> Sign Up </h2>

<form method="post">
    <div>
        @Html.TextBoxFor(x => x.UserName, new { placeholder = "Username" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.Password, new { @type = "password", placeholder = "Password" })
    </div>
    <div>
        <input type="submit" value="Sign Up" />
    </div>
</form>

@Html.ValidationMessageFor(x => x.UserName)