@model Library.Models.Auth.UserPersonalViewModel

<form method="post">
    <div>
        @Html.TextBoxFor(x => x.UserName, new { placeholder = "Username" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.Password, new { @type = "password", placeholder = "Password" })
    </div>
    <div>
        <input type="submit" value="Sign Up" />
    </div>
</form>
